* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;

}

body {
    margin: 0;
    margin-top: 100px;
    margin-left: 150px;
    color: #f2f2f2;
}

.card {
    position:relative;
    width: 327px;
    height: 442px;
    padding:48px;
    color:#f2f2f2
}

@media screen and (min-width: 768px) {
    .card {
        width: 307px;
        height: 500;
        display: inline-block
    }
}

main {
    font-size:0
}

.card-orange {
    background-color: #E28625;
    border-top-left-radius: 0.5rem;
    border-top-right-radius:0.5rem;
    padding: 2.5rem;
}
@media screen and (min-width: 768px){
    .card-orange {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius:0.5rem;
    border-top-right-radius:0;
    }
}

.card-blue {
    background-color: #006971;
    padding: 2.5rem;
}

.card-green {
    background-color: #004140;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius:0.5rem;
    padding: 2.5rem;
}
@media screen and (min-width: 768px){
    .card-green {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius:0.5rem;
    border-bottom-left-radius:0;
    }
}

.card-title {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.5rem ;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 25px;
}

.card-text {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.9375rem ;
    font-weight: 400;
    font-style: normal;
    color: rgb(255 255 255 /0.75)

}

.card-icon-circle {
    position:relative;
    width: 40px;
    height:40px ;
    background-color: rgb(0 0 0 /0.2);
    border-radius: 50%;
    margin-bottom: 35px;
}

.card-icon {
    position:absolute;
    top:11px;
    left: 20px;
}

.card-button
{
    position:absolute;
    bottom: 48px;
    width: 146px;
    padding: 11px 24px;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
}
@media (hover:hover){
    .card-button:hover {
        border: 1px solid #fff;
        background-color: transparent;
        color:#fff
    }
}

.card-button-green {
    
    color: #004140;
}

.card-button-blue {
    color:#006971
}

.card-button-orange {
    color: #E28625;
}

a {
    font-family: "Lexend Deca", sans-serif; 
    font-size: 0.9375rem ;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
